<div class="sidenav-container">
  <div class="sidenav">
    <div class="profile">
      <img class="settings-icon" src="/assets/svg-icons/settings.svg" />
      <button type="button" class="profile_button">Username</button>
    </div>
    <button class="keep-open-button" (click)="keepOpentoggle()">
      <img
        src="/assets/svg-icons/keep-open.svg"
        alt="keep open button"
        [style.filter]="
          keepOpen
            ? 'invert(56%) sepia(35%) saturate(6855%) hue-rotate(200deg) brightness(105%) contrast(88%)'
            : 'invert(0%) sepia(7%) saturate(7473%) hue-rotate(55deg) brightness(91%) contrast(106%)'
        "
      />
    </button>
    <div class="list-menu">
      <ul class="sidebar-items">
        <li class="sidebar-item">
          <ul class="sidebar-links">
            <li>
              <a class="sidebar-link" routerLink="/my-day">
                <img
                  src="/assets/svg-icons/my-day.svg"
                  alt=""
                  class="svg-icon"
                />
                <p class="link-title">My day</p>
              </a>
            </li>
            <li>
              <a class="sidebar-link">
                <img
                  src="/assets/svg-icons/next-7-days.svg"
                  alt=""
                  class="svg-icon"
                />
                <p class="link-title">Next 7 days</p>
              </a>
            </li>
            <li>
              <a class="sidebar-link">
                <img
                  src="/assets/svg-icons/all-my-tasks.svg"
                  alt=""
                  class="svg-icon"
                />
                <p class="link-title">All my tasks</p>
              </a>
            </li>
          </ul>
          <div style="height: 16px"></div>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-item-heading">
            <p>My lists</p>
            <img src="/assets/svg-icons/plus-icon.svg" class="plus-icon" />
          </a>
          <ul class="sidebar-links">
            <li><a class="sidebar-link">Personal</a></li>
            <li class="sidebar-link">Groccery list</li>
            <li class="sidebar-link">Work</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
