<div class="my-day-content">
  <div class="form-with-tasks">
    <div class="content-wrapper">
      <div
        class="content-box"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="myDayTasks"
      >
        <div
          [@.disabled]="animationDisabled"
          @item
          class="task-card"
          *ngFor="let task of myDayTasks | sort; let i = index"
          (click)="onEdit(task)"
          cdkDrag
        >
          <input
            (change)="onCheckboxChange(task, $event, i)"
            (click)="$event.stopPropagation()"
            [checked]="task.done"
            class="checkbox"
            type="checkbox"
          />
          <div class="task-card-information">
            <div class="task-card-subtitle">{{ task.list }}</div>
            <div class="task-card-name" [class.done]="task.done">
              {{ task.name }}
            </div>
          </div>
          <span class="x-symbol" (click)="removeFromMyDay(task.creationTime)"
            >&times;</span
          >
        </div>
      </div>
    </div>
    <form [formGroup]="taskName" (submit)="createTask()">
      <mat-form-field appearance="fill" class="input">
        <span
          @decorationAnimation
          class="content-decoration"
          *ngIf="!myDayTasks.length"
        ></span>
        <input
          #taskNameInput
          formControlName="taskNameForm"
          class="input"
          placeholder="+ &nbsp; Add task"
          matInput
          (focus)="taskNameInput.placeholder = 'Enter name here'"
          (blur)="taskNameInput.placeholder = '+ &nbsp; Add task'"
        />
      </mat-form-field>
    </form>
  </div>
</div>
