.my-day-content {
  width: 100%;
  height: calc(100vh - 24px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.form-with-tasks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 172px);
}
.content-wrapper {
  padding: 5px;
  overflow-y: auto;
  position: relative;
  background: linear-gradient(white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
        farthest-side at 50% 100%,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      )
      0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

  background-attachment: local, local, scroll, scroll;
}
.content-box {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.task-card {
  display: flex;
  align-items: center;
  gap: 7px;

  width: 100%;
  height: 60px;
  padding: 10px 15px;

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.02), 0 2px 18px rgba(0, 0, 0, 0.05);
  border-radius: 8px;

  background: inherit;
  cursor: pointer;
  &:hover {
    background-color: #f7f7f7;
    > span {
      visibility: visible;
    }
  }
}
.task-card-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40px;
  flex: 1;
  // line-height: 2px;
}
.done {
  color: #9b9b9b;
  text-decoration: line-through;
}
.x-symbol {
  font-size: 30px;
  font-weight: 100;
  visibility: hidden;
  color: #9b9b9b;
}
.content-decoration {
  width: 360px;
  height: 180px;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  background-color: var(--brand-color);
  position: absolute;
  bottom: 55px;
  left: 50%;
  z-index: 10;
  margin-left: -180px;
}
.input {
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 870px) {
  .content-decoration {
    width: 300px;
    height: 150px;
    margin-left: -150px;
  }
}
@media only screen and (max-width: 620px) {
  .content-decoration {
    width: 240px;
    height: 120px;
    margin-left: -120px;
  }
}
@media only screen and (max-width: 500px) {
  .content-decoration {
    width: 220px;
    height: 110px;
    margin-left: -110px;
  }
}
@media only screen and (max-width: 400px) {
  .content-decoration {
    width: 220px;
    height: 110px;
    margin-left: -110px;
  }
}
